<footer>

    <!--Caja contenedora del footer-->
    <section id="caja-footer">
        
        <!--Caja icono-->
        <article>
        <div class="tarjeta-icono">
            
            <i class="fas fa-credit-card"></i></div>
        
            <h2>Pagá con tarjeta o efectivo</h2>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        
        </article>

        <!--Caja regalo-->
        <article>
        <div class="regalo-icono">
            
            <i class="fas fa-gift" ></i></div>
            <h2>Envío gratis desde $2.500</h2>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        
        </article>

        <!--Caja seguridad-->
        <article>
        <div class="seguridad-icono">
            
             <i class="fas fa-user-shield"></i></div>
            <h2>Seguridad, de principio a fin</h2>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        
        </article>

        
    </section>
    
    <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
</footer>