<header>
    <section class="contenedor1">
<div>
    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="mercado-liebre" id="logo-mercadoliebre"></a>
</div>
<div class="navbar">
    <input type="text" name="" id="" placeholder="Buscar productos y marcas"><i>
    <button type="submit" class="fas fa-search"></button></i>
    <div class="hand-usd">
    <i class="fas fa-hand-holding-usd"><p">Comprá en cuotas y sin tarjeta de credito</p></i>
    </div>
</div>
</section>


    
<article class="contenedor-ofertas">
    
        <div id="ofertas"><i>Ofertas</i></div>
        <div id="tiendas-oficiales"><i>Tiendas oficiales</i></div>
        <div id="vender"><i>Vender</i></div>
        <div id="ayuda"><i>Ayuda</i></div>
    
    </article>
    
    <article class="contenedor-usuario">
    
        <div id="editar-usuario"><i><a href=""> Editar Usuario</a> <i class="fas fa-cog"></i></i></div>
        <div id="crea-cuenta"><i><a href="/login/registro">Creá tu cuenta </a><i class="fas fa-id-card"></i></i></div>
        <div id="ingresa"><i><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></i></div>
        <div id="mis-compras"><i><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></i></div>
        <div id="mis-peliculas"><i><a href="/peliculas">Mis peliculas </a><i class="fas fa-film"></i></i></div>
    
    </article>

<div>
    
    <!--<img src="/img/img-home-banner.jpg" alt="home-banner">-->
</div>
</header>