<%- include("partials/header.ejs")%>

<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<body>
    
    <h1>Detalle de producto</h1>

<section class="contenedor11">

<div class="descripcion">
    <h2>Cafetera moulinex</h2>
    <p>Cafetera Nesspreso</p>
    <p>6.700$</p>
</div>

</section>

</body>