

.contenedor11{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: black solid 1px;
}

.descripcion{
    margin-right: 40px;
    border: red solid 1px;
    width: 50%;
    text-align: center;
    height: 50vh;
    position: absolute;
    
}

.descripcion h2{
    padding-bottom: 20px;
    
}

.descripcion p{
    position: relative;
    right: 50px;
}



